<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Workout App</title>
  <link rel="stylesheet" href="/public/css/main.css" />
</head>

<body class="homeScreen">
  <nav class="home-link">
    <a href="/" id="home-link">Home</a>
  </nav>

  <main>
    {{{body}}}
  </main>

  <script src="/public/js/main.js"></script>

</body>

</html>