<header>
  <nav>
    {{#if loggedIn}}
    <a href="/workouts/public">View Other Users Workouts</a>
    <a href="/workouts/userWorkouts">View Your Workouts</a>
    <a href="/workouts/createWorkout">Create A Workout</a>
    {{!-- <a href="/workouts/removeWorkout">Remove A Workout</a> --}}
    {{else}}
    <a href="/">Home</a>
    <a href="/login" id="login-button">Login</a>
    <a href="/sign-up" id="sign-up-button">Sign Up</a>
    <p>not logged?</p>
    {{/if}}
  </nav>

</header>

<main>
  {{{body}}}
</main>

<script src="/public/js/main.js"></script>