

<nav>
    <a href="/" id="home-link">Workout App Home</a>
</nav>
<div id="signup-created-div">
    <h3>Account Created</h3>
    <p id="signup-created-text">You have succesfully created an account!</p>
    <a href="/signin" id="login-button">Sign In</a>
</div>
