

<header>
    <nav>
          <a href="/">Home</a>
          <a href="/signin" id="login-button">Login</a>
    </nav>
</header>

<h1>Account Created</h1>
<button type="button"><a href="/signin">Login</a></button>
