<header>
    <nav>
        <form id="search-user-form" method="GET" action="/search-user">
            <label for="search-user">Search User:</label>
            <input id="currentUserId" name="currentUserId" type="hidden" value="{{userId}}">
            <input id="searchUser" name="searchUser" type="text" placeholder="type user">
        </form>
        <div id="search-user-error">{{{error}}}</div>
        <a href="/workouts/workoutsPage">Workouts</a>
        <a href="/friends/friends">Friends</a>
        <a href="/settings/account">Account</a>
        <a href="/signout">Logout</a>

    </nav>
</header>

<div id="dashboard">
    <h1>Your Dashboard</h1>
    <p>Welcome {{{ userId }}}!</p>

    <div class="streak">
      <h2>Your Current Streak</h2>
      <p><strong>Streak Count:</strong> {{streakCount}} day(s)</p>
      <p>Maintain your streak by making a workout everyday!</p>
    </div>
</div>
<script src="/public/js/dashboard.js"></script>