<nav id="dashboard">
    <a href="/workouts/workoutsPage">Workouts</a>
    <a href="/settings/account">Settings</a>
</nav>

<div>
    <h1>DashBoard</h1>
    <h4 id=welcome>Welcome {{{ userId }}}</h4>
    {{!-- <p id="">You are now signed in!</p> --}}
</div>

<a href="/signout">Logout</a>
