<header>
    <nav>
        <a href="/dashboard">Home</a>
        <a>Profile</a>
        <a href="/signout">Logout</a>
        <a href="/workouts/workoutsPage">Workouts</a>
        <a href="/settings/account">Settings</a>
    </nav>
</header>


<h1>DashBoard</h1>
<p>User is logged in</p>
<p>{{{ userId }}}</p>