<div>
    <h1>Your Workout App Name Dashboard</h1>
    <h4 id="welcome">Welcome {{ userId }}!</h4>
</div>

<div class="dashboard">
    <a href="/workouts/workoutsPage">Workouts</a>
</div>

<div class="dashboard">
    <a href="/settings/account">Settings</a>
</div>

<a href="/signout">Logout</a>
