<nav>
      <a href="/signin" class="login-button">Login</a>
      <a href="/signup" class="sign-up-button">Sign Up</a>
</nav>

<div id="homepage-welcome">
<h1>Workout Application</h1>
<h2>Get swole!</h2>
<p class="descriptionText">Welcome to our workout applicaion</p>
</div>

<div id="homepage-signup">
<p class="createAccountText">Click here to create an account</p>
<a href="/signup" class="sign-up-button">Create Account</a>
</div>