<nav>
      <a href="/signin" id="login-button">Login</a>
      <a href="/signup" id="sign-up-button">Sign Up</a>
</nav>

<div id="homepage-welcome">
<h1>Placeholder Workout App Name</h1>
<h2>Placeholder slogan</h2>
<p class="descriptionText">Placeholder welcoming/introduction/description</p>
</div>

<div id="homepage-signup">
<p class="createAccountText">Click here to create an account</p>
<a href="/signup" id="sign-up-button">Create Account</a>
</div>