

<h1>Login</h1>
<div id="login-error">{{error}}</div>
<form id="login-form" method="post">
    <div>
        <label for="sign-in-username-or-email">Enter Username or Email</label>
        <input id="sign-in-username-or-email" name="loginUser" type="text">
    </div>

    <div>
        <label for="sign-in-password">Enter Password</label>
        <input id="sign-in-password" name="loginPassword" type="password">
    </div>
    <div>
        <button type="submit">Login</button>
    </div>

</form>
<script src="/public/js/login.js"></script>
