<header>
  <nav>
    <a href="/workouts/workoutsPage">Back</a>
    <a href="/workouts/userWorkouts">View Your Workouts</a>
    <a href="/workouts/createWorkout">Create A Workout</a>
  </nav>
</header>

<div>
    <h2>NO FAVORITED WORKOUTS</h2>
</div>

<script src="/public/js/workout.js"></script>
