<header>
    <nav>
        <a href="/dashboard">Home</a>
        <a>Profile</a>
        <a href="/signout">Logout</a>
        <a href="/workouts/workoutsPage">Workouts</a>
    </nav>
</header>

<nav>
    <a href="/settings/account">Account</a>
    <a href="/settings/delete">Delete Account</a>
</nav>
<div id="error">{{error}}</div>

<p>To confirm Account Deletion please write "delete account!" in the input below</p>
<form id="delete-account" method="POST">
    <label for="confirm-delete">Confirm Account Deletion</label>
    <input type="text" id="confirm-delete" name="confirm-delete" placeholder="delete account!">
    <button type="submit">Confirm</button>
</form>

<script src="/public/js/settings.js"></script>