<header>
    <nav>
        <a href="/settings">Back</a>
    </nav>
</header>

<div id="error">{{error}}</div>

<p>To confirm Account Deletion please write "delete account!" in the input below</p>
<form id="delete-account" method="POST">
    <label for="confirm-delete">Confirm Account Deletion</label>
    <input type="text" id="confirm-delete" name="confirm-delete" placeholder="delete account!">
    <button type="submit">Confirm</button>
</form>

<script src="/public/js/settings.js"></script>