

<header>
  <nav>
    <a href="/workouts/workoutsPage">Back</a>
    <a href="/workouts/public">View Other Users Workouts</a>
    <a href="/workouts/createWorkout">Create A Workout</a>
  </nav>
</header>

<div>
    <h2>Sorry the user with this Workout Profile is Private</h2>

</div>
<script src="/public/js/workout.js"></script>